/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/* line 3, ../sass/compass.scss */
ul, ol {
  padding: 0px;
  list-style-type: none;
}

/* line 11, ../sass/compass.scss */
.pts-megamenu .megamenu > li.dropdown .caret:before {
  display: inline-block !important;
  content: "\f107" !important;
  color: #818796 !important;
}

/* line 21, ../sass/compass.scss */
.module-leoblog-blog .blog-comment-block label {
  padding-left: 25px;
}
/* line 19, ../sass/mixins/_app.scss */
.rtl .module-leoblog-blog .blog-comment-block label {
  padding-right: 25px;
  padding-left: inherit;
}
/* line 23, ../sass/compass.scss */
.module-leoblog-blog .blog-comment-block label:after {
  color: red;
  content: "*";
  left: 15px;
  position: absolute;
  top: 8px;
}
/* line 108, ../sass/mixins/_app.scss */
.rtl .module-leoblog-blog .blog-comment-block label:after {
  right: 15px;
  left: auto;
}

/* line 33, ../sass/compass.scss */
.order td.cart_total, .order td.price {
  max-width: 100px;
}

/* line 38, ../sass/compass.scss */
.rtl .radio input[type="radio"], .rtl .radio-inline input[type="radio"], .rtl .checkbox input[type="checkbox"], .rtl .checkbox-inline input[type="checkbox"] {
  float: right !important;
}
/* line 41, ../sass/compass.scss */
.rtl input[type="radio"], .rtl input[type="checkbox"] {
  margin-left: 10px;
}
/* line 44, ../sass/compass.scss */
.rtl p.payment_module a.cheque,
.rtl p.payment_module a.bankwire,
.rtl p.payment_module a.cash {
  background-position: calc(100% - 15px) 12px;
}
/* line 48, ../sass/compass.scss */
.rtl p.payment_module a.cheque:after,
.rtl p.payment_module a.bankwire:after,
.rtl p.payment_module a.cash:after {
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  /* line 54, ../sass/compass.scss */
  .btn.btn-blue {
    width: auto !important;
    margin: 0px !important;
    margin-right: 120px !important;
    min-width: 50px !important;
  }

  /* line 60, ../sass/compass.scss */
  .btn.btn-white {
    min-width: 50px !important;
    width: auto !important;
    margin: 0px !important;
    margin-left: 50px !important;
  }
}
@media (max-width: 768px) {
  /* line 68, ../sass/compass.scss */
  .pts-atchover {
    display: none !important;
  }

  /* line 71, ../sass/compass.scss */
  .breadcrumbs {
    min-height: 110px !important;
  }

  /* line 74, ../sass/compass.scss */
  .btn.btn-blue {
    width: auto !important;
    margin: 0px !important;
    margin-right: 120px !important;
    min-width: 50px !important;
  }

  /* line 80, ../sass/compass.scss */
  .btn.btn-white {
    min-width: 50px !important;
    width: auto !important;
    margin: 0px !important;
    margin-left: 50px !important;
  }

  /* line 87, ../sass/compass.scss */
  .testimonials .testimonials-body {
    width: 70% !important;
    margin: 30px 0px;
  }
  /* line 91, ../sass/compass.scss */
  .testimonials .testimonials-quote {
    font-size: 20px;
  }

  /* line 95, ../sass/compass.scss */
  .content_scene_cat_bg_default, .bg-default-banner {
    min-height: 110px !important;
  }

  /* line 99, ../sass/compass.scss */
  .sidebar .block_content.tree-menu {
    display: block !important;
  }
  /* line 103, ../sass/compass.scss */
  .sidebar #layered_block_left .block_content.box-content {
    display: block !important;
  }

  /* line 108, ../sass/compass.scss */
  #categories_block_left li ul li {
    margin: 0px !important;
    border: none !important;
  }

  /* line 112, ../sass/compass.scss */
  .space-margin-lr-60 {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }

  /* line 116, ../sass/compass.scss */
  .header1 #header-main .header-right .btn-group .toogle_content {
    left: 0;
    right: auto;
  }
}
@media (max-width: 480px) {
  /* line 122, ../sass/compass.scss */
  #image-block {
    margin-bottom: 10px !important;
  }

  /* line 125, ../sass/compass.scss */
  #thumbs_list {
    height: auto !important;
  }
  /* line 127, ../sass/compass.scss */
  #thumbs_list ul#thumbs_list_frame {
    margin: 0px !important;
    width: auto !important;
  }
  /* line 130, ../sass/compass.scss */
  #thumbs_list ul#thumbs_list_frame li {
    margin: 0 7px !important;
    width: 80px !important;
  }

  /* line 136, ../sass/compass.scss */
  .resetimg {
    display: none;
  }

  /* line 139, ../sass/compass.scss */
  .pb-right-column {
    padding: 0px 15px !important;
  }
  /* line 141, ../sass/compass.scss */
  .pb-right-column h1 {
    font-size: 25px !important;
  }

  /* line 145, ../sass/compass.scss */
  #pts-top-menu {
    z-index: 101 !important;
  }

  /* line 148, ../sass/compass.scss */
  .tparrows {
    display: none;
  }

  /* line 151, ../sass/compass.scss */
  .space-margin-lr-60 {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
