/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/* RIGHT TO LEFT */
/* BACKGROUND GRADIENT */
/* BACKGROUND RADIAL */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FONT FACE */
/* OPACITY */
/* TEXT SHADOW */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/**parallax**/
/**absolute**/
/*  
 * LAYOUT VARIABLES 
 */
/** CHECKOUT BY STEP */
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
.block-search .search-focus {
  cursor: pointer;
  position: relative;
  padding-left: 15px;
}
.rtl .block-search .search-focus {
  padding-right: 15px;
  padding-left: inherit;
}
.block-search .search-focus:before {
  position: absolute;
  background: #ccc;
  top: 6px;
  left: 0;
  width: 1px;
  height: 15px;
  content: "";
}
.rtl .block-search .search-focus:before {
  right: 0;
  left: auto;
}
@media (max-width: 992px) {
  .block-search .search-focus {
    padding-right: 15px;
  }
  .rtl .block-search .search-focus {
    padding-left: 15px;
    padding-right: inherit;
  }
}
.block-search .search-focus .icon-search {
  margin-right: 10px;
}
.rtl .block-search .search-focus .icon-search {
  margin-left: 10px;
  margin-right: inherit;
}

#search_block_top .button-search {
  display: block;
  width: 50px;
  height: 42px;
  text-align: center;
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 12px;
}
@media (max-width: 767px) {
  #search_block_top #search_block_top {
    top: 150%;
  }
}

#search_query_top {
  border: 0 none;
  height: 42px;
}

.ac_results {
  background: #FFFFFF;
  border: 1px solid #ebebeb;
  width: 271px;
  margin-top: -1px;
}
.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}
.ac_results li.ac_odd {
  background: #FFFFFF;
}
.ac_results li:hover, .ac_results li.ac_over {
  background: #fbfbfb;
}
@media (max-width: 768px) {
.block-search .search-focus:before {
  position: absolute;
  background: #ccc;
  top: 6px;
  right: 0px !important;
  left: auto !important;
  width: 1px;
  height: 15px;
  content: "";
}
.rtl .block-search .search-focus:before {
  left: 0px !important;
  right: auto !important;
}
}